.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.page-footer {
    background-color: var(--fondoMarron);
    color: var(--colorItemsMenu);
    padding: 20px 0;
    position: relative;
    margin-top: auto;
    padding-left: 20px;
}