.num-alertas {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    background-color: var(--rojo);
    color: var(--blanco);
    top: -15px;
    right: 30px;
    position: relative;
    border-radius: 12px;
    padding: 1px 6px;
}

.nav-link .bi-bell{
    font-size: 25px;
    color: var(--colorIconos);
}

.dropdownalertas {
    margin: 0 10px;
    display: flex;
    text-align: right;
    align-items: center;
}

.dropdownalertas li {
    color: var(--fondoPagina);
}

.dropdown-menu {
    padding: 10px;
}

.dropdown-menu a {
    text-decoration: none;
}
