body {
    background-color: var(--fondoPagina);
    font-family: "Open Sans", sans-serif;

    height: 100%;

    /* md */
    @media screen and (min-width: 768px) {

        border: 5px solid var(--verde);
    }

    /* lg */
    @media screen and (min-width: 992px) {

        padding: 0 10% !important;
    }

    /* xl */
    @media screen and (min-width: 1200px) {

        padding: 0 15% !important;
    }

    /* xxl */
    @media screen and (min-width: 1400px) {

        padding: 0 20% !important;
    }
}

.formato{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.scroll-horizontal {
    overflow-x: auto;
    white-space: nowrap;
}

:root {
    --fondoPagina: #eff3f8;
    --blanco: #ffffff;

    --colorIconos: #8ea3b6;

    --verde: #4db3a4;
    --azul: #6fa7d7;
    --rojo: #f36a5a;

    --colorDropdown: #aaafb7;
    --fondoDropdown: #595c5f;

    --fondoMarron: #3b434c;
    --fondoMarronHover: #595c5f;


    --fondoMarronMenu: #444d58;
    --hoverMenu: #4e5966;
    --colorItemsMenu: #BCC2CB;
    --blancoHover: #f1f1f1;

    --tituloPagina: #697882;
    --tituloPequenio: #9eacb4;

    --fondoAmarillo: #fff17280;
}
