.usuario-pagina {
    display: flex;
    height: 100vh;
    background-color: var(--blanco);
  }

  .usuario-sidebar {
    width: 300px;
    background-color: var(--blancoHover);
    padding: 20px;
    border-right: 1px solid var(--colorDropdown);
  }

  .usuario-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .usuario-header {
    padding: 20px;
    background-color: var(--blanco);
    border-bottom: 1px solid var(--colorDropdown);
  }

  .usuario-panel {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
