.table-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--blanco);
    border-radius: 10px;
}

.btn-blue-dark {
    background-color: #506176;
    color: white;
    border: 1px solid #506176;
  }

  .btn-blue-dark:hover {
    background-color: #394452;
    border-color: #394452;
    color: white;
  }

  .btn-red {
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
  }

  .btn-red:hover {
    background-color: #c82333;
    border-color: #c82333;
    color: white;
  }
